<h1>Add a message</h1>
<form action="/createMessage" method="POST">
    <input type="text" name="title" placeholder="title">
    <textarea id="text" name="text" rows="4" cols="50">
    </textarea>
    <button>Submit</button>
</form>


