<h1>Join Club</h1>
<form action="/join-club" method="POST">
    <p>Add secret</p>
    <input type="text" name="secret" placeholder="secret">
    <p>Enter username</p>
    <input type="text" name="username" placeholder="username">
    <button>Submit</button>
</form>
